@media only screen and (max-width: 1700px) {
  .projects {
    margin-top: 20rem;
  }
}
@media only screen and (max-width: 1400px) {
  .projects {
    margin-top: 14rem;
  }
}

@media only screen and (max-width: 1200px) {
  .nav {
    &-container {
      &-center {
        &-items {
          display: flex;
          align-items: flex-start;
          h3 {
            display: none;
          }
        }
      }
    }
  }
  .hero-social_list li {
    img {
      width: 1.2rem;
      height: 1.2rem;
      display: grid;
      place-content: center;
    }
    margin: 1rem;
  }
  .skills {
    margin-top: 4rem;
    &-list {
      grid-template-columns: 16rem 16rem;
    }
  }
  .projects {
    margin-top: 8rem;
  }
}
@media only screen and (max-width: 1000px) {
  .nav {
    height: 3rem;
    border-radius: 0.85rem;
    &-container {
      height: 3rem;
      display: flex;
      justify-content: space-between;

      &-left {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        border-radius: 0.9rem;
        &-logo {
          border-radius: inherit;
          margin-left: 0;
          margin-right: 0;
          width: 3rem;
          height: 3rem;
        }
        h2 {
          margin-left: 1rem;
        }
      }
      &-right {
        &-items {
          padding-right: 0px;
          margin-right: 0;
          border-radius: 0.8rem;
          img {
            padding: 1rem;
          }
        }

        h3 {
          display: none;
        }
      }
    }
    h3 {
      display: none;
    }
  }
}

@media only screen and (max-width: 850px) {
  #responsive-menu {
    display: block;
  }
  .nav {
    &-container {
      &-left {
        display: none;
      }
      &-right {
        padding: 1rem;
        border-radius: 0.5rem;
        img {
          width: 16px;
          padding: 0.5rem;
          border-radius: 0.25rem;
        }
      }
    }
  }
  .skills {
    margin-top: 4rem;
    &-list {
      gap: 80px;
    }
  }
}
