@media only screen and (max-width: 1200px) {
  .nav {
    &-container {
      &-center {
        &-items {
          display: flex;
          align-items: flex-start;
          h3 {
            display: none;
          }
        }
      }
    }
  }
  .hero-social_list li {
    img {
      width: 1.2rem;
      height: 1.2rem;
      display: grid;
      place-content: center;
    }
    margin: 1rem;
  }
  .skills {
    margin-top: 4rem;
    &-list {
      grid-template-columns: 16rem 16rem;
    }
  }
}
@media only screen and (max-width: 1000px) {
  .nav {
    height: 3rem;
    border-radius: 0.85rem;
    &-container {
      height: 3rem;
      display: flex;
      justify-content: space-between;

      &-left {
        padding: 0.4rem;
        padding-right: 0.9rem;
        border-radius: 1rem;
        h2 {
          display: none;
        }
      }
      &-right {
        &-items {
          padding-right: 0px;
        }

        h3 {
          display: none;
        }
      }
    }
    h3 {
      display: none;
    }
  }
}

@media only screen and (max-width: 700px) {
}
