/*--<FONTS>--*/
/* Gilroy Regular */
@font-face {
  font-family: "Gilroy";
  src: url(fonts/Gilroy-Regular.woff);
  src: url(fonts/Gilroy-Regular.ttf);
  font-weight: 500;
  font-style: normal;
}
/* Gilroy Medium */
@font-face {
  font-family: "Gilroy";
  src: url(fonts/Gilroy-Medium.woff);
  src: url(fonts/Gilroy-Medium.ttf);
  font-weight: 600;
  font-style: normal;
}
/* Gilroy Semi Bold */
@font-face {
  font-family: "Gilroy";
  src: url(fonts/Gilroy-SemiBold.woff);
  src: url(fonts/Gilroy-SemiBold.ttf);
  font-weight: 700;
  font-style: normal;
}
/* Gilroy Bold */
@font-face {
  font-family: "Gilroy";
  src: url(fonts/Gilroy-Bold.ttf);
  src: url(fonts/Gilroy-Bold.woff);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url(fonts/Jeko-Extra-Bold.ttf);
  font-weight: 900;
  font-style: normal;
}

/*--<CSS VARIABLES>--*/
:root {
  /*--<COLORS>--*/
  --navy-primary: #0b162c;
  --navy-secondary: #0f234d;
  --dark-blue: #0971f0;
  --light-blue: #138ef0;
  --dark-gold: #f7991d;
  --light-gold: #fcc00a;
  --white-primary: #f8fbff;
  --white-secondary: #d9d9d9;
  /*--<GRADIENTS>--*/
  --blue-gradient: var(--light-blue), var(--dark-blue);
  --gold-gradient: var(--light-gold), var(--dark-gold);
  /*--<FONTS>--*/
  /* FONTS */
  /*
    Gilroy
    Jeko (Header)
  */
  --blue-shadow: 0px 0px 10px rgba(16, 95, 214, 0.4);
  --navy-shadow: 0px 0px 30px #0b162cb3;
  --white-shadow: 0px 0px 15px #f8fbff44;
}

/*--<SCROLLBAR>--*/
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--white-primary);
  border-radius: 10px;
}

/*--<PRESETS>--*/
* {
  padding: 0;
  margin: 0;
  font-family: "Gilroy", "Segoe UI", sans-serif;
  scrollbar-width: 10px;
  scrollbar-color: var(--navy-secondary);
}

body {
  color: var(--white-primary);
}

h1 {
  font-size: 70px;
  font-weight: 900;
  font-style: normal;
}
h2 {
  font-size: 66px;
  font-weight: 800;
  font-style: normal;
}
h3 {
  font-size: 28px;
  font-weight: 500;
}
p {
  font-weight: 500;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*--<HERO>--*/
.first-section {
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
  background-color: #0b162c;
  border-radius: 0px 0px 0px 100px;
}

.hero {
  position: relative;
  display: block;
}

.hero-container {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 5%;
}
.hero-container_right {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.hero-logo {
  max-width: 32%;
  height: 32%;
  border-radius: 25%;
  border-style: solid;
  border-width: 0.4vmin;
  border-color: var(--white-primary);
  box-shadow: var(--white-shadow);
  z-index: 1;
}

.hero-text {
  max-width: 45%;
  height: auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  z-index: 1;
}

.waves {
  max-width: 100%;
  height: auto;
  z-index: -1;
}

.hero-social_list li {
  width: 1.6rem;
  height: 1.6rem;
  display: grid;
  place-content: center;
  transform: scale(1.6);
  margin: 50px;
  color: #f8fbff;
  box-shadow: var(--navy-shadow);
  background-color: var(--navy-secondary);
  border-radius: 25%;
  overflow: hidden;
}

.hero-social_list li:hover {
  background: linear-gradient(87.53deg, #0971f0 -28.38%, #138ef0 109.3%);
  box-shadow: var(--blue-shadow);
  transition: all 1000ms ease;
}

/*--<SKILLS SECTION>--*/

.skills {
  width: 100%;
  &-bg-text {
    width: 40%;
    height: auto;
    z-index: 0;
    position: inherit;
    display: flex;
    justify-content: center;
  }
  &-header {
    display: flex;
    align-content: center;
    margin-left: 3%;
    margin-top: 3%;
    position: relative;
    z-index: 1;
    &-img {
      width: 3.4rem;
      height: auto;
    }
  }
  &-container {
    width: 100%;
    height: auto;
    position: relative;
  }
  &-list {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    gap: 90px 60px;
    margin-top: 30px;
    place-content: center;
    position: relative;
    z-index: 1;
  }
  &-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    color: white;
    img {
      width: 1.2rem;
      height: 1.2rem;
      filter: invert(100%) sepia(26%) saturate(2767%) hue-rotate(179deg)
        brightness(103%) contrast(104%);
    }
  }
}
